<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="twitter:card" value="summary">
    <meta name="twitter:site" content="@site-handle">
    <meta name="twitter:title" content="{{meta_title}}">
    <meta name="twitter:description" content="{{meta_description}}">
    <meta name="twitter:creator" content="@author-handle">

    {{! Open Graph data }}
    <meta property="og:title" content="{{meta_title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{url absolute=true}}" />
    <meta property="og:description" content="{{meta_description}}" />
    <meta property="og:site_name" content="{{@blog.title}}" />
    <meta property="fb:admins" content="1619563126" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{! Everything else gets inserted here }}
  {{{body}}}

  <footer class="site-footer">
    <div class="inner">
      <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2014 &bull; All rights reserved.</section>
      <section class="poweredby">Proudly published using <a href="http://ghost.org/">Ghost</a> with some help from <a href="http://laketa.com/">Stefan Laketa</a>&#8217;s <a href="https://github.com/lacke/Orre-Theme-for-Ghost" class="hint" data-hint="Get it on GitHub!">Orre</a>.</section>
    </div>
  </footer>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file }}
  <script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>
